@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-height: 80vh;
  width: 30rem;
  border-radius: 30px;
  padding: 2rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3), 0 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneaker img {
  width: 20rem;
  z-index: 2;
}

.circle {
  width: 15rem;
  height: 15rem;
  background: #108dc7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 2rem;
  text-align: center;
}

.info h2 {
  text-align: center;
}

.info h3 {
  font-size: 1rem;
  padding: 2rem 0rem;
  font-weight: lighter;
  text-align: center;
}

.sizes {
  display: flex;
  justify-content: space-between;
}

.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.sizes button:hover {
  color: #fff;
  background: #000;
}

button.active {
  background: #000;
  color: #fff;
}

.purchase {
  margin-top: 4rem;
}

.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #108dc7;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}

.purchase button:hover {
  background: #ef8e38;
}

.icon {
  font-size: 1.5rem;
  margin: auto;
}
