* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

nav {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: flex-start;
}

.icon {
  display: block;
  z-index: 1;
  animation: moveleft 1s ease-in;
}

nav a {
  color: #fff;
  text-decoration: none;
}

header {
  background: #543850;
  height: auto;
  padding: 48px;
  width: 100%;
}

.cont {
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

img {
  display: block;
  height: 450px;
  object-fit: cover;
  width: auto;
  animation: moveright 2s ease-in;
}

.text {
  width: 50%;
  color: #fff;
}

.text h1 {
  font-size: 90px;
  letter-spacing: 3px;
}

.text h2 {
  margin-top: 20px;
  font-size: 30px;
}

.text a {
  align-items: center;
  background-color: #fff;
  display: inline-block;
  color: #543850;
  font-weight: bold;
  text-decoration: none;
  margin-top: 30px;
  border: 1px solid #fff;
  width: 150px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0;
}

.text a:hover {
  background-color: #543850;
  color: #fff;
}

.wave {
  height: 100px;
  width: 100%;
  background: #543850;
}

.links {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  left: 0;
  flex-direction: column;
  width: 100%;
  transition: all 1s ease;
  background: #543850;
}

.one {
  clip-path: polygon(0 0, 0% 0, 0% 0%, 0% 0%);
}

.two {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@keyframes moveleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveright {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1000px) {
  img {
    height: 400px;
  }
}

@media screen and (max-width: 800px) {
  img {
    height: 370px;
  }
  .text h1 {
    font-size: 70px;
  }

  .text h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  img {
    height: 250px;
  }
  .text h1 {
    font-size: 40px;
  }

  .text h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .text {
    width: 100%;
    text-align: center;
  }
  .text h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 340px) {
  img {
    height: 160px;
  }
  .text h1 {
    font-size: 35px;
  }
  .text a {
    width: 120px;
  }
  .text h2 {
    font-size: 15px;
  }
}
